################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TIBERIANDAWN/Win32/Release
/REDALERT/Win32/Release
/bin/Win32
/.vs/CnCRemastered/v16
